<!DOCTYPE html>
<html>
  
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/cv">CV</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div>
    <footer>
      <ul>
        <li><small><code><b>version 1.0.0</b></code></small></li>
        <li><small><code><em>created on 06 May 2016 at 11:45</em></code></small></li>
      </ul>
    </footer>
  </body>
  
</html>
