<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/cv">CV</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div>
    <footer>
      <ul>
        <li><small><pre>version 1.0.0</pre></small></li>
        <li><small><pre>created on [insert date here] at [insert time here]</li>
      </ul>
    </footer>
  </body>
  
</html>
